<a href="https://colab.research.google.com/github/jjbmsda/kaggle/blob/main/Feb%20Tabular%20Playground%20Competition/Feb_Tabular_Playground_Competition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
%cd /content/drive/MyDrive/Colab Notebooks/Feb Tabular Playground Competition

/content/drive/MyDrive/Colab Notebooks/Feb Tabular Playground Competition

In [4]:
import numpy as np
import pandas as pd
from pathlib import Path

import os
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

from sklearn.dummy import DummyRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge, Lasso
from sklearn.ensemble import RandomForestRegressor

**Read in the data files**

In [5]:
train = pd.read_csv('train.csv', index_col='id')
display(train.head())

   cat0 cat1 cat2 cat3 cat4  ...    cont10    cont11    cont12    cont13    target
id                           ...
1     A    B    A    A    B  ...  0.724417  0.701915  0.877618  0.719903  6.994023
2     B    A    A    A    B  ...  0.613252  0.741289  0.326679  0.808464  8.071256
3     A    A    A    C    B  ...  0.264104  0.695561  0.869133  0.828352  5.760456
4     A    A    A    C    B  ...  0.494269  0.698125  0.809799  0.614766  7.806457
6     A    B    A    A    B  ...  0.724447  0.683073  0.343457  0.297743  6.868974

[5 rows x 25 columns]

In [6]:
test = pd.read_csv('test.csv', index_col='id')
display(test.head())

   cat0 cat1 cat2 cat3 cat4  ...     cont9    cont10    cont11    cont12    cont13
id                           ...
0     A    B    A    C    B  ...  0.242654  0.285147  0.264308  0.653654  0.302448
5     A    B    A    C    B  ...  0.516393  0.562065  0.730542  0.318492  0.736251
15    A    B    A    C    B  ...  0.548555  0.836193  0.759788  0.333572  0.273905
16    A    A    B    A    B  ...  0.596746  0.414131  0.255382  0.589080  0.311625
17    A    B    A    A    B  ...  0.263235  0.710961  0.224045  0.285860  0.794931

[5 rows x 24 columns]

In [7]:
submission = pd.read_csv('sample_submission.csv', index_col='id')
display(submission.head())

    target
id
0      0.5
5      0.5
15     0.5
16     0.5
17     0.5